$palette-primary-purple: #1976d2;
$palette-primary-white: #FFFFFF;
$palette-primary-black: #000000;
$palette-primary-gray: #7b7b7b;
$palette-secondary-gray: #d0d5dd;
$palette-secondary-purple: #1565c0;
$palette-primary-border: #212c4e;
$palette-primary-background: #1A223E;
